<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="emp_app">
<table id="add_entry">
	<tr>
		<td>
			<input type="text" id="emp_id" placeholder="Employee ID" />
		</td>
		<td>
			<input type="text" id="emp_name" placeholder="Employee Name" />
		</td>
		<td>
			<input type="text" id="emp_age" placeholder="Employee Age" />
		</td>
		<td>
			<input type="text" id="emp_salary" placeholder="Monthly Salary" />
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<button id="save_employee">Add</button>
		</td>
	</tr>
</table>	

<table id="list_employees" width="50%" border="1">
	
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Age</td>
		<td>Monthly Salary</td>
		<td>&nbsp;</td>
	</tr>
	
</table>	

</section>
<script type="text/template" id="list_template">
	<tr>
		<td><%= id %></td>
		<td><%= name %></td>
		<td><%= age %></td>
		<td><%= salary %></td>
		<td><button class="delete">Delete</button></td>
	</tr>
</script>

<script src="../libs/jquery.js"></script>
<script src="../libs/underscore.js"></script>
<script src="../libs/backbone.js"></script>
<script src="../libs/backboneLocalStorage.js"></script>
<script src="js/Model/emp_models.js"></script>
<script src="js/Collection/emp_collections.js"></script>
<script src="js/View/emp_views.js"></script>
<script src="js/main.js"></script>

</body>
</html>